{%extends "RoomRent/home.html"%}
{%load static%}


{%block content%}



<style media="screen">

  .box{
    width:80%;
    height:wrapp-content;
    margin-left:10%;
    margin-top:-3% !important;
    background:black;
    color:white;
    transform:translte(-50%,-50%);
    box-sizing:border-box;
    padding:50px 30px;
    border-radius:5%;
  }

  .box p{
    margin:0;
    padding:0;
    font-weight:bold;
  }

  .box input{
    width:100%;
    margin-bottom:2%;

  }

  .box input[type="text"]{
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#ffffff;
    font-size:16px;

  }


  .box input[type="email"],input[type="password"]{
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#ffffff;
    font-size:16px;

  }



  .box input[type="submit"]{
    border:none;
    background:#fb2525;
    outline:none;
    height:40px;
    color:#ffffff;
    font-size:20px;
    border-radius:20px;

  }

  .box input[type="submit"]:hover{
    cursor:pointer;
    background:deepskyblue;
    color:#000;

  }


  .box input[type="text"]:hover{
    cursor:pointer;
    background:white;
    color:#000;

  }


  .box input[type="email"]:hover{
    cursor:pointer;
    background:white;
    color:#000;

  }

  .box input[type="password"]:hover{
    cursor:pointer;
    background:white;
    color:#000;

  }

.box a{
  text-decoration:none;
  font-size:22px;
  line-height:20px;
  color: darkgrey;
}


.box a:hover{
  color: deepskyblue;
}

.errorlist
    {
        color: red;
        font-weight:bold;

    }



</style>





  <div class="jumbotron ">
<div class="box">

  <h1>Password Change sucessfully</h1>

</div>



  </div>



{%endblock%}
